@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-Regular.ttf');
}

body{
  font-family: Inter, sans-serif;
}

.truncate-multiline {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}